@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

html {
    scroll-behavior: smooth;
}

.body {
    animation: transitionIn 1s;
}
