
.download-section {
    background-image: linear-gradient(to right, #A3C3D9, #CCD6EB);
    padding: 150px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.90);
}

.section-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.section-title h1 {
    font-size: 1.3rem;
    color: black;
    font-weight: normal;
    font-family: helvetica;
}

.download {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    background-color: #AE76A6;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
    width: 50%;
    min-width: fit-content;
    transition: 0.3s;
    outline: none;
    font-family: helvetica;
    text-decoration: none;
    font-size: 1.2rem;
    color: #E9ECF5;
}

.download:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.90);
    cursor: pointer;
}

.span-text {
    margin-right: 0.5rem;
}

.mini-icon {
    width: 20px;
}

.section-version {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

.section-version p {
    font-family: helvetica;
    font-size: 1rem;
    color: black;
    text-align: center;
}
