
.header {
    background-image: linear-gradient(to left, #AE76A6, #A3C3D9);
    padding: 20px;
    position: absolute;
    display: block;
    width: 80%;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 5px;
    z-index: 1;
}

.info p {
    text-align: center;
    font-family: helvetica;
    font-size: 1.5rem;
    color: #E9ECF5;
}
