
.footer {
    height: 10vh;
    background-color: #A3C3D9;
}

.footer-card {
    background-color: #CCD6EB;
    display: block;
    width: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.90);
    position: relative;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 45px;
    border-radius: 5px;
}

.footer-card p {
    text-align: center;
    font-family: helvetica;
    color: black;
    font-size: 1rem;
}

.footer-card p a {
    text-decoration: none;
    color: #AE76A6;
    transition: 0.3s;
}

.footer-card p a:hover {
    color: #624CAB;
}

.links {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.links a i {
    transition: 0.3s;
}

.links a i:hover {
    color: #624CAB;
}

.fab {
    color: #AE76A6;
    font-size: 30px;
    margin-right: 0.5rem;
}
